body{
    background-color: rgb(100, 99, 99);
}

img{
    height: 500px;
    width: 600px;
    border-radius: 1rem;
}

#instalation{
    background-color: rgb(49, 48, 48);
    border-radius: 1rem;
}

p{
    color: white;
}

a{
    color: white;
    animation-name: ani3;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    
}

h2{
    color: white;
}

button{
    background-color: black;
}

@keyframes ani3 {
    16%{color:  rgb(49, 48, 48);}
    20%{color: blueviolet;}
    50%{color: brown;}
    80%{color: chartreuse;}
    100%{color: darkgreen;}
}

#web{
    animation-name: ani3;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

#instal{
    animation-name: ani3;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}