body{
    background-color: rgb(100, 99, 99);
}

input{
    background-color: rgb(49, 48, 48);
}

p{
    color: white;
}

h1{
    color: white;
    animation-name: ani;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}


@keyframes ani {
    16%{background-color:  rgb(49, 48, 48);}
    20%{background-color: blueviolet;}
    50%{background-color: brown;}
    80%{background-color: chartreuse;}
    100%{background-color: darkgreen;}
}